.global-theme {
  --avatar-initials-background-color: #2c282f;
  --avatar-initials-color: #ffffff;
  --avatar-initials-spacing: 32px;
  --avatar-initials-border-radius: 9999px;
  --avatar-initials-font-family: "Inter", sans-serif;
  --avatar-initials-font-weight: 400;
  --avatar-initials-font-size: 14px;
  --avatar-initials-line-height: 18px;
  --avatar-image-border-radius: 9999px;
  --avatar-image-sm: 16px;
  --avatar-image-md: 24px;
  --avatar-image-lg: 32px;
  --avatar-image-xl: 40px;
  --nav-link-spacing: 32px;
  --nav-link-border-radius: 4px;
  --nav-link-font-family: "Inter", sans-serif;
  --nav-link-font-weight: 500;
  --nav-link-line-height: 18px;
  --nav-link-font-size: 14px;
  --nav-link-background-color-default: none;
  --nav-link-background-color-hover: #ecf2fc;
  --nav-link-background-color-pressed: #ecf2fc;
  --nav-link-background-color-focus: #ecf2fc;
  --nav-link-background-color-disabled: none;
  --nav-link-color-default: #596167;
  --nav-link-color-hover: #5a6eff;
  --nav-link-color-pressed: #5a6eff;
  --nav-link-color-focus: #5a6eff;
  --nav-link-color-disabled: #e9edf0;
  --nav-link-border-default: none;
  --nav-link-border-hover: none;
  --nav-link-border-pressed: none;
  --nav-link-border-focus: #5a6eff;
  --nav-link-border-disabled: none;
  --nav-link-border-width-default: none;
  --nav-link-border-width-hover: none;
  --nav-link-border-width-pressed: none;
  --nav-link-border-width-focus: 1px;
  --nav-link-border-width-disabled: none;
  --nav-link-box-shadow-default: [object Object];
  --nav-link-box-shadow-hover: [object Object];
  --nav-link-box-shadow-pressed: [object Object];
  --nav-link-box-shadow-focus: none;
  --nav-link-box-shadow-disabled: none;
  --icon-button-button-sm: 28px;
  --icon-button-button-md: 32px;
  --icon-button-button-lg: 40px;
  --icon-button-icon-sm: 16px;
  --icon-button-icon-md: 20px;
  --icon-button-primary-background-color-default: #5a6eff;
  --icon-button-primary-background-color-hover: #4858cc;
  --icon-button-primary-background-color-pressed: #4858cc;
  --icon-button-primary-background-color-focus: #5a6eff;
  --icon-button-primary-background-color-disabled: #bdc5ff;
  --icon-button-primary-color-default: #ffffff;
  --icon-button-primary-color-hover: #ffffff;
  --icon-button-primary-color-pressed: #ffffff;
  --icon-button-primary-color-focus: #ffffff;
  --icon-button-primary-color-disabled: #ffffff;
  --icon-button-primary-border-default: none;
  --icon-button-primary-border-hover: none;
  --icon-button-primary-border-pressed: none;
  --icon-button-primary-border-focus: #4858cc;
  --icon-button-primary-border-disabled: none;
  --icon-button-primary-border-width-default: none;
  --icon-button-primary-border-width-hover: none;
  --icon-button-primary-border-width-pressed: none;
  --icon-button-primary-border-width-focus: 1px;
  --icon-button-primary-border-width-disabled: none;
  --icon-button-secondary-background-color-default: none;
  --icon-button-secondary-background-color-hover: #e9edf0;
  --icon-button-secondary-background-color-pressed: #e9edf0;
  --icon-button-secondary-background-color-focus: none;
  --icon-button-secondary-background-color-disabled: none;
  --icon-button-secondary-color-default: #596167;
  --icon-button-secondary-color-hover: #596167;
  --icon-button-secondary-color-pressed: #596167;
  --icon-button-secondary-color-focus: #596167;
  --icon-button-secondary-color-disabled: #e9edf0;
  --icon-button-secondary-border-default: #d1dde6;
  --icon-button-secondary-border-hover: #d1dde6;
  --icon-button-secondary-border-pressed: #d1dde6;
  --icon-button-secondary-border-focus: #4858cc;
  --icon-button-secondary-border-disabled: #e9edf0;
  --icon-button-secondary-border-width: 1px;
  --icon-button-notification-background-color-default: none;
  --icon-button-notification-background-color-hover: #e9edf0;
  --icon-button-notification-background-color-pressed: #e9edf0;
  --icon-button-notification-color-default: #596167;
  --icon-button-notification-color-hover: #596167;
  --icon-button-notification-color-pressed: #596167;
  --icon-button-notification-color-focus: #596167;
  --icon-button-notification-color-disabled: #e9edf0;
  --icon-button-notification-border-default: #d1dde6;
  --icon-button-notification-border-hover: #d1dde6;
  --icon-button-notification-border-pressed: #d1dde6;
  --icon-button-notification-border-focus: #d1dde6;
  --icon-button-notification-border-disabled: #e9edf0;
  --icon-button-notification-border-width: 1px;
  --icon-button-notification-badge-background-color-default: #5a6eff;
  --icon-button-notification-badge-background-color-hover: #5a6eff;
  --icon-button-notification-badge-background-color-pressed: #5a6eff;
  --icon-button-notification-badge-background-color-focus: #5a6eff;
  --icon-button-notification-badge-background-color-disabled: #d1dde6;
  --icon-button-notification-badge-border-default: #ffffff;
  --icon-button-notification-badge-border-hover: #ffffff;
  --icon-button-notification-badge-border-pressed: #ffffff;
  --icon-button-notification-badge-border-focus: #ffffff;
  --icon-button-notification-badge-border-disabled: #ffffff;
  --icon-button-notification-badge-sm: 6px;
  --icon-button-notification-badge-md: 8px;
  --icon-button-notification-badge-lg: 10px;
  --icon-button-notification-badge-border-width: 1px;
  --icon-button-invisible-background-color-default: none;
  --icon-button-invisible-background-color-hover: #e9edf0;
  --icon-button-invisible-background-color-pressed: #e9edf0;
  --icon-button-invisible-background-color-focus: none;
  --icon-button-invisible-background-color-disabled: none;
  --icon-button-invisible-color-default: #596167;
  --icon-button-invisible-color-hover: #596167;
  --icon-button-invisible-color-pressed: #596167;
  --icon-button-invisible-color-focus: #596167;
  --icon-button-invisible-color-disabled: #e9edf0;
  --icon-button-invisible-border-default: none;
  --icon-button-invisible-border-hover: none;
  --icon-button-invisible-border-pressed: none;
  --icon-button-invisible-border-focus: #4858cc;
  --icon-button-invisible-border-disabled: #e9edf0;
  --icon-button-invisible-border-width-default: none;
  --icon-button-invisible-border-width-hover: none;
  --icon-button-invisible-border-width-pressed: none;
  --icon-button-invisible-border-width-focus: 1px;
  --icon-button-invisible-border-width-disabled: 1px;
  --icon-button-border-radius: 4px;
  --icon-button-box-shadow-default: [object Object];
  --icon-button-box-shadow-hover: [object Object];
  --icon-button-box-shadow-pressed: [object Object];
  --icon-button-box-shadow-focus: none;
  --icon-button-box-shadow-disabled: none;
  --breadcrumbs-color-previous-page: #5a6eff;
  --breadcrumbs-color-divider: #9da9b2;
  --breadcrumbs-color-current-page: #596167;
  --breadcrumbs-font-family: "Inter", sans-serif;
  --breadcrumbs-font-weight: 400;
  --breadcrumbs-line-height: 18px;
  --breadcrumbs-font-size: 14px;
  --blue-50: #eff1ff;
  --blue-100: #dee2ff;
  --blue-200: #bdc5ff;
  --blue-300: #9ca8ff;
  --blue-400: #7b8bff;
  --blue-500: #5a6eff;
  --blue-600: #4858cc;
  --blue-700: #364299;
  --blue-800: #242c66;
  --blue-900: #1b214c;
  --purple-50: #f8f4ff;
  --purple-100: #f0e9ff;
  --purple-200: #e1d3ff;
  --purple-300: #d2bdff;
  --purple-400: #c3a7ff;
  --purple-500: #b491ff;
  --purple-600: #9074cc;
  --purple-700: #6c5799;
  --purple-800: #483a66;
  --purple-900: #241d33;
  --orange-50: #fff2ef;
  --orange-100: #ffe4de;
  --orange-200: #ffc9bd;
  --orange-300: #ffae9c;
  --orange-400: #ff937b;
  --orange-500: #ff785a;
  --orange-600: #cc6048;
  --orange-700: #994836;
  --orange-800: #663024;
  --orange-900: #331812;
  --pink-50: #fff5f5;
  --pink-100: #ffe0e0;
  --pink-200: #ffcbcb;
  --pink-300: #ffc0c0;
  --pink-400: #ffabab;
  --pink-500: #ff9696;
  --pink-600: #cc7878;
  --pink-700: #995a5a;
  --pink-800: #663c3c;
  --pink-900: #331e1e;
  --yellow-50: #fffbf4;
  --yellow-100: #fff3de;
  --yellow-200: #ffebc8;
  --yellow-300: #ffe7bd;
  --yellow-400: #ffdfa7;
  --yellow-500: #ffd791;
  --yellow-600: #ccac74;
  --yellow-700: #998157;
  --yellow-800: #806c49;
  --yellow-900: #4c402b;
  --semantic-error: #f04242;
  --semantic-warning: #ffae4f;
  --semantic-success: #0fa88c;
  --semantic-info: #4e9fff;
  --background-white-smoke: #f7f6f3;
  --background-seashell: #f8ece7;
  --background-pale-purple: #f2e6ff;
  --background-alice-blue: #ecf2fc;
  --grey-100: #e9edf0;
  --grey-200: #d1dde6;
  --grey-300: #9da9b2;
  --grey-400: #6e777e;
  --grey-500: #596167;
  --core-white: #ffffff;
  --core-black: #2c282f;
  --font-sans-sharp-grotesk: "Sharp Grotesk", sans-serif;
  --font-sans-inter: "Inter", sans-serif;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --spacing-0: 0px;
  --spacing-1: 1px;
  --spacing-2: 2px;
  --spacing-4: 4px;
  --spacing-6: 6px;
  --spacing-8: 8px;
  --spacing-10: 10px;
  --spacing-12: 12px;
  --spacing-14: 14px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-28: 28px;
  --spacing-32: 32px;
  --spacing-36: 36px;
  --spacing-40: 40px;
  --spacing-44: 44px;
  --spacing-48: 48px;
  --spacing-56: 56px;
  --spacing-64: 64px;
  --spacing-80: 80px;
  --spacing-96: 96px;
  --spacing-112: 112px;
  --spacing-128: 128px;
  --spacing-144: 144px;
  --spacing-160: 160px;
  --spacing-176: 176px;
  --spacing-192: 192px;
  --spacing-208: 208px;
  --spacing-224: 224px;
  --spacing-240: 240px;
  --spacing-256: 256px;
  --spacing-288: 288px;
  --spacing-320: 320px;
  --spacing-384: 384px;
  --border-0: 0px;
  --border-1: 1px;
  --border-2: 2px;
  --border-4: 4px;
  --border-8: 8px;
  --rounded-none: 0px;
  --rounded-sm: 2px;
  --rounded-base: 4px;
  --rounded-md: 6px;
  --rounded-lg: 8px;
  --rounded-xl: 12px;
  --rounded-2xl: 16px;
  --rounded-3xl: 24px;
  --rounded-full: 9999px;
  --breakpoint-xs: 376px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 1536px;
  --shadow-none: [object Object];
  --shadow-sm: [object Object];
  --shadow-base: [object Object],[object Object];
  --shadow-md: [object Object],[object Object];
  --shadow-lg: [object Object],[object Object];
  --shadow-xl: [object Object],[object Object];
  --shadow-2xl: [object Object];
  --shadow-inner: [object Object];
  --underline: underline;
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 30px;
  --text-4xl: 36px;
  --text-5xl: 48px;
  --text-6xl: 60px;
  --text-7xl: 72px;
  --text-8xl: 96px;
  --text-9xl: 128px;
  --leading-xs: 16px;
  --leading-sm: 18px;
  --leading-base: 20px;
  --leading-lg: 24px;
  --leading-xl: 28px;
  --leading-2xl: 32px;
  --leading-3xl: 36px;
  --leading-4xl: 40px;
  --leading-5xl: 48px;
  --leading-6xl: 60px;
  --leading-7xl: 72px;
  --leading-8xl: 96px;
  --leading-9xl: 128px;
  --token-set-order-0: global;
  --token-set-order-1: alias;
}