.global-theme {
  --button-bgcolor-default: #5a6eff;
  --blue-50: #eff1ff;
  --blue-100: #dee2ff;
  --blue-200: #bdc5ff;
  --blue-300: #9ca8ff;
  --blue-400: #7b8bff;
  --blue-500: #5a6eff;
  --blue-600: #4858cc;
  --blue-700: #364299;
  --blue-800: #242c66;
  --blue-900: #1b214c;
  --purple-50: #f8f4ff;
  --purple-100: #f0e9ff;
  --purple-200: #e1d3ff;
  --purple-300: #d2bdff;
  --purple-400: #c3a7ff;
  --purple-500: #b491ff;
  --purple-600: #9074cc;
  --purple-700: #6c5799;
  --purple-800: #483a66;
  --purple-900: #241d33;
  --orange-50: #fff2ef;
  --orange-100: #ffe4de;
  --orange-200: #ffc9bd;
  --orange-300: #ffae9c;
  --orange-400: #ff937b;
  --orange-500: #ff785a;
  --orange-600: #cc6048;
  --orange-700: #994836;
  --orange-800: #663024;
  --orange-900: #331812;
  --pink-50: #fff5f5;
  --pink-100: #ffe0e0;
  --pink-200: #ffcbcb;
  --pink-300: #ffc0c0;
  --pink-400: #ffabab;
  --pink-500: #ff9696;
  --pink-600: #cc7878;
  --pink-700: #995a5a;
  --pink-800: #663c3c;
  --pink-900: #331e1e;
  --yellow-50: #fffbf4;
  --yellow-100: #fff3de;
  --yellow-200: #ffebc8;
  --yellow-300: #ffe7bd;
  --yellow-400: #ffdfa7;
  --yellow-500: #ffd791;
  --yellow-600: #ccac74;
  --yellow-700: #998157;
  --yellow-800: #806c49;
  --yellow-900: #4c402b;
  --semantic-error: #f04242;
  --semantic-warning: #ffae4f;
  --semantic-success: #0fa88c;
  --semantic-info: #4e9fff;
  --background-white-smoke: #f7f6f3;
  --background-seashell: #f8ece7;
  --background-pale-purple: #f2e6ff;
  --background-alice-blue: #ecf2fc;
  --grey-100: #e9edf0;
  --grey-200: #d1dde6;
  --grey-300: #9da9b2;
  --grey-400: #6e777e;
  --grey-500: #596167;
  --core-white: #ffffff;
  --core-black: #2c282f;
  --token-set-order-0: global;
  --token-set-order-1: ds;
}