.global-theme {
  --button-bgcolor-default: #5a6eff;
  --blue-50: #eff1ff;
  --blue-100: #dee2ff;
  --blue-200: #bdc5ff;
  --blue-300: #9ca8ff;
  --blue-400: #7b8bff;
  --blue-500: #5a6eff;
  --blue-600: #4858cc;
  --blue-700: #364299;
  --blue-800: #242c66;
  --blue-900: #1b214c;
  --purple-50: #f8f4ff;
  --purple-100: #f0e9ff;
  --purple-200: #e1d3ff;
  --purple-300: #d2bdff;
  --purple-400: #c3a7ff;
  --purple-500: #b491ff;
  --purple-600: #9074cc;
  --purple-700: #6c5799;
  --purple-800: #483a66;
  --purple-900: #241d33;
  --orange-50: #fff2ef;
  --orange-100: #ffe4de;
  --orange-200: #ffc9bd;
  --orange-300: #ffae9c;
  --orange-400: #ff937b;
  --orange-500: #ff785a;
  --orange-600: #cc6048;
  --orange-700: #994836;
  --orange-800: #663024;
  --orange-900: #331812;
  --pink-50: #fff5f5;
  --pink-100: #ffe0e0;
  --pink-200: #ffcbcb;
  --pink-300: #ffc0c0;
  --pink-400: #ffabab;
  --pink-500: #ff9696;
  --pink-600: #cc7878;
  --pink-700: #995a5a;
  --pink-800: #663c3c;
  --pink-900: #331e1e;
  --yellow-50: #fffbf4;
  --yellow-100: #fff3de;
  --yellow-200: #ffebc8;
  --yellow-300: #ffe7bd;
  --yellow-400: #ffdfa7;
  --yellow-500: #ffd791;
  --yellow-600: #ccac74;
  --yellow-700: #998157;
  --yellow-800: #806c49;
  --yellow-900: #4c402b;
  --semantic-error: #f04242;
  --semantic-warning: #ffae4f;
  --semantic-success: #0fa88c;
  --semantic-info: #4e9fff;
  --background-white-smoke: #f7f6f3;
  --background-seashell: #f8ece7;
  --background-pale-purple: #f2e6ff;
  --background-alice-blue: #ecf2fc;
  --grey-100: #e9edf0;
  --grey-200: #d1dde6;
  --grey-300: #9da9b2;
  --grey-400: #6e777e;
  --grey-500: #596167;
  --core-white: #ffffff;
  --core-black: #2c282f;
  --font-family-sharp-grotesk: "Sharp Grotesk", sans-serif;
  --font-family-inter: "Inter", sans-serif;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;
  --font-size-3xl: 30px;
  --font-size-4xl: 36px;
  --font-size-5xl: 48px;
  --font-size-6xl: 60px;
  --font-size-7xl: 72px;
  --font-size-8xl: 96px;
  --font-size-9xl: 128px;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --line-height-xs: 16px;
  --line-height-sm: 20px;
  --line-height-base: 24px;
  --line-height-lg: 28px;
  --line-height-xl: 32px;
  --line-height-2xl: 36px;
  --line-height-3xl: 40px;
  --line-height-4xl: 48px;
  --line-height-5xl: 60px;
  --line-height-6xl: 72px;
  --line-height-7xl: 96px;
  --line-height-8xl: 128px;
  --text-decoration-underline: underline;
  --spacing-0: 0px;
  --spacing-1: 1px;
  --spacing-2: 2px;
  --spacing-4: 4px;
  --spacing-6: 6px;
  --spacing-8: 8px;
  --spacing-10: 10px;
  --spacing-12: 12px;
  --spacing-14: 14px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-28: 28px;
  --spacing-32: 32px;
  --spacing-36: 36px;
  --spacing-40: 40px;
  --spacing-44: 44px;
  --spacing-48: 48px;
  --spacing-56: 56px;
  --spacing-64: 64px;
  --spacing-80: 80px;
  --spacing-96: 96px;
  --spacing-112: 112px;
  --spacing-128: 128px;
  --spacing-144: 144px;
  --spacing-160: 160px;
  --spacing-176: 176px;
  --spacing-192: 192px;
  --spacing-208: 208px;
  --spacing-224: 224px;
  --spacing-240: 240px;
  --spacing-256: 256px;
  --spacing-288: 288px;
  --spacing-320: 320px;
  --spacing-384: 384px;
  --border-width-0: 0px;
  --border-width-1: 1px;
  --border-width-2: 2px;
  --border-width-4: 4px;
  --border-width-8: 8px;
  --border-radius-0: 0px;
  --border-radius-2: 2px;
  --border-radius-4: 4px;
  --border-radius-6: 6px;
  --border-radius-8: 8px;
  --border-radius-12: 12px;
  --border-radius-16: 16px;
  --border-radius-24: 24px;
  --border-radius-full: 9999px;
  --breakpoint-xs: 376px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 1536px;
  --shadow-none: [object Object];
  --shadow-sm: [object Object];
  --shadow-base: [object Object],[object Object];
  --shadow-md: [object Object],[object Object];
  --shadow-lg: [object Object],[object Object];
  --shadow-xl: [object Object],[object Object];
  --shadow-2xl: [object Object];
  --shadow-inner: [object Object];
  --token-set-order-0: global;
  --token-set-order-1: ds;
}