{
    "*.ts": [
        "npx nx affected -t lint --files"
    ],
    "*.vue": [
        "npx nx affected -t lint --files",
        "npx nx affected -t stylelint --files"
    ],
    "*.css": [
        "npx nx affected -t stylelint --files"
    ],
    "*": [
        "npx nx affected -t format --files"
    ]
}