@awesome.me:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_PACKAGE_TOKEN}
@fzp:registry=https://fiscozen-614406129049.d.codeartifact.eu-west-1.amazonaws.com/npm/fiscozen-npm/
//fiscozen-614406129049.d.codeartifact.eu-west-1.amazonaws.com/npm/fiscozen-npm/:_authToken=${UV_INDEX_CODEARTIFACT_PASSWORD}
//fiscozen-614406129049.d.codeartifact.eu-west-1.amazonaws.com/npm/fiscozen-npm/:always-auth=true
npmScopes:
 awesome.me:
   npmAlwaysAuth: true
   npmRegistryServer: "https://npm.fontawesome.com/"
   npmAuthToken: ${FONTAWESOME_PACKAGE_TOKEN}
 fzp:
   npmAlwaysAuth: true
   npmRegistryServer: "https://fiscozen-614406129049.d.codeartifact.eu-west-1.amazonaws.com/npm/fiscozen-npm/"
   npmAuthToken: ${UV_INDEX_CODEARTIFACT_PASSWORD}