@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter, sans-serif;
}

@font-face {
  font-family: Inter;
  src: url('/fonts/Inter-Regular.ttf') format('ttf');
}
@font-face {
  font-family: Inter;
  src: url('/fonts/Inter-Bold.ttf') format('ttf');
  font-weight: bold
}
@font-face {
  font-family: Inter;
  src: url('/fonts/Inter-SemiBold.ttf') format('ttf');
  font-weight: 600;
}
@font-face {
  font-family: Inter;
  src: url('/fonts/Inter-Bold.ttf') format('ttf');
  font-weight: 700;
}
@font-face {
  font-family: Inter;
  src: url('/fonts/Inter-Light.ttf') format('ttf');
  font-weight: 300;
}