/* title/big */
h1 {
  color: var(--core-black, #2C282F);
  font-family: var(--font-sans-inter);
  font-size: var(--text-2xl);
  font-style: normal;
  font-weight: var(--font-semibold, 600);
  line-height: var(--leading-2xl);
}

/* title/normal */
h2 {
  color: var(--core-black, #2C282F);
  font-family: var(--font-sans-inter);
  font-size: var(--text-xl);
  font-style: normal;
  font-weight: var(--font-semibold, 600);
  line-height: var(--leading-xl);
}

/* title/small */
h3 {
  color: var(--core-black, #2C282F);
  font-family: var(--font-sans-inter);
  font-size: 17px;
  font-style: normal;
  font-weight: var(--font-semibold, 600);
  line-height: var(--leading-lg);
}

/* paragraph/normal */
p {
  color: var(--core-black, #2C282F);
  font-family: var(--font-sans-inter);
  font-size: var(--text-base);
  font-style: normal;
  font-weight: var(--font-normal);
  line-height: var(--leading-lg);
}

/* Applica margin-bottom solo ai paragrafi seguiti da altri paragrafi */
p + p {
  margin-top: 8px;
}

/* paragraph/small */
p.text-sm {
  font-size: var(--text-sm);
  line-height: var(--leading-sm);
  letter-spacing: var(--letter-spacing-sm, 0.07px);
}